<div id="<%= dom_id account %>">
  <p>
    <strong>Customer:</strong>
    <%= account.customer_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

</div>
